@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  scroll-behavior: smooth;
  font-family: 'Heebo';
}

:root{
  --font-base: 'Heebo', sans-serif;

  --primary-color : #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --gray-color:#6b7688;
  --lightGray-color: #e4e4e4;
  --brown-color:#46364a;
  --white-color:#ffffff;
}